@media (max-width:480px){
    .header{
        background-image: url("../../assets/stars.png");
        background-position: center;
        .nav{
            height: 90px!important;
            display: flex;
            justify-content: space-between;
            &__list{
                display: none!important;
            }
            &__menu{
                display: block!important;
            }
        }
    }
    
    .main{
        padding: 100px 0;
        &__text{
            columns: 1;
        }
    }

    .learnmore{
        padding: 30% 0;
        &__header {
            margin-bottom: 15%;
        }
    
        &__play {
            font-size: 20px;
            padding: 20px 25px;
            border-radius: 50%;
            background-color: #39C2D7;
        }
    
        &__text {
            margin-top: 15%;
        }
    }

    .footer{
        display: block;
        text-align: center;
    }

}

@media (min-width:480px) and (max-width: 1200px){
    .header{
        background-image: url("../../assets/stars.png");
        background-position: center;
        .nav{
            height: 90px!important;
            display: flex;
            justify-content: space-between;
            &__list{
                display: none!important;
            }
            &__menu{
                display: block!important;
            }
        }
    }
    
    .main{
        padding: 100px 0;
        &__text{
            columns: 1;
        }
    }

    .learnmore{
        padding: 30% 0;
        &__header {
            margin-bottom: 15%;
        }
    
        &__play {
            font-size: 20px;
            padding: 20px 25px;
            border-radius: 50%;
            background-color: #39C2D7;
        }
    
        &__text {
            margin-top: 15%;
        }
    }

    .footer{
        display: block;
        text-align: center;
    }

}
