$lightblue-color: #39C2D7;

@font-face {
    font-family: 'Oswald';
    src: url("../../assets/fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("../../assets/fonts/SourceSansPro-Light.ttf");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-image: url("../../assets/stars.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    &__main {
        text-align: center;
        width: 100%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: red;
    }

    &__logo {
        width: 63px;
        height: 63px;
    }

    &__topic {
        margin: 30px 0;
        font-size: 48px;
        font-family: "Oswald";
        font-weight: 700;
        line-height: 64px;
    }

    &__text {
        line-height: 32px;
        font-weight: 400;
        font-size: 24px;
        font-family: "Source Sans Pro";
        opacity: 70%;
    }

    .nav {
        width: 80%;
        margin: 0 auto;
        line-height: 80px;
        display: flex;
        align-items: center;

        &__list {
            margin-left: 30%;
            display: flex;
        }

        &__item {
            text-transform: uppercase;
            padding: 20px;
            list-style-type: none;
        }

        &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 5px;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.4s;
        }

        &__link:hover {
            padding-bottom: 5px;
            border-bottom: 1px solid white;
        }
        &__menu{
            display: none;
        }
    }
}

.main {
    padding: 5% 0;
    text-align: center;

    &__header {
        color: #464547;
        font-family: "Oswald";
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
    }

    &__mini__header {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #666666;
        padding: 30px;
    }

    &__text {
        columns: 2;
        column-gap: 10%;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #666666;
    }

    &__button {
        border: none;
        outline: none;
        padding: 10px 30px;
        border-radius: 30px;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #55C2D8;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.1em;
        margin-top: 3%;
    }
}

.learnmore {
    text-align: center;
    padding: 5%;
    color: #ffffff;
    position: relative;
    background: rgba(140, 79, 42, 0.3);

    &__header {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 7%;
    }

    &__play {
        position: relative;
        font-size: 50px;
        padding: 50px 60px;
        border-radius: 50%;
        background-color: #39C2D7;
    }

    &__text {
        position: relative;
        margin-top: 7%;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
    }
}

.learnmore::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/learnmore.png");
    z-index: -9;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    display: inline-grid;
    grid-template-columns: auto 50% auto;
    background-color: #464547;
    padding: 5% 15%;
    width: 100%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    &__mail {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.4);
    }
}